@charset 'utf-8';

._login-container {
	padding: 50px;
	margin: 175px auto;
	width: 400px;
	height: auto;
	border: 1px solid #AAA; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -ms-border-radius: 5px; 
	box-shadow: .5px .5px 5px 5px #D7D7D7;
	clear: both;
}